importFrom("stats", "contrasts", "contrasts<-")
importFrom("stats", "model.matrix", "contr.treatment", "ave", "contr.sum")
importFrom("stats", "model.frame", "relevel", "update")
export(contr.wec, wec.interact)
